.errorPage h3{
    font-size: 3vw;
    margin: 0;
}
.errorPage p{
    font-size: 1vw;
    margin: 0 0 5vw;
    color: var(--grey-dark-4);
}
.errorPage a{
    text-decoration: none;
    color: white;
    font-size: 1vw;
    background-color: black;
    padding: 1vw;
    border-radius: 10px;
}
.errorPage{
    padding: 5vw 0;
}