.card {
    max-width: min-content;
    margin: 1vw 0;
}

.imgCard {

    /*background-size: contain;*/
    background-repeat: no-repeat;
    background-position: center;
    height: 16vw;
    width: 16vw;
}

.discrCard {
    margin: 0.2vw 0;
}

.images {
    position: relative;
}

.cartBox {
    height: 1vw;
    position: absolute;
    left: 14vw;
    top: 14vw;
    background-color: var(--grey-dark-2);
    border-radius: 0.5vw;
    padding: 0.5vw;
    display: flex;
    align-items: center;
}

.cart {
    height: 1vw;
}

.stars {
    padding: 0 0.2vw;
    height: 2vw
}

.id {
    color: var(--grey-dark-4);
    font-size: 1vw;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.discrCard {
    font-size: 1vw;
    font-weight: 500;
    width: 60%;
}

.price {
    font-size: 1.2vw;
}

.rub {
    color: var(--grey-dark-4)
}

