.card {
    max-width: min-content;
    margin: 1vw 0;
}

.imgCard {
    height: 16vw;
    width: 16vw;
    /*position: absolute;*/
    /*z-index: -1;*/
}

.discrCard {
    margin: 0.2vw 0;
}

.stars {
    padding: 0 0.2vw;
    height: 2vw
}

.id {
    color: var(--grey-dark-4);
    font-size: 0.9vw;
}

h4.discrCard{
    display: flex;
    justify-content: space-between;
    font-size: 0.9vw;
}

h4.discrCard > span {
    font-size: 1.2vw;
}

.cart {
    height: 1vw;
}

.cartBox {
    height: 1vw;
    position: absolute;
    left: 16vw;
    top: 15vw;
    background-color: var(--grey-dark-2);
    border-radius: 0.5vw;
    padding: 0.5vw;
}

.images {
    position: relative;
}