.paginationWrapper {
    display: flex;
    justify-content: center;
    padding: 2vw 0 0 0;
}

.paginationBox {
    display: flex;
    justify-content: center;
    border: 1px solid var(--grey-dark-2);
    border-radius: 10px;

}

.numbers, .btn {
    display: flex;
    justify-content: center;
    padding: 0.8vw 1vw;
    height: 1.1vw;
    font-size: 1vw;
}

.numbers {
    text-decoration: none;
    color: var(--grey-dark-3);
}

.numbers:hover,
.btn:hover {
    color: white;
    background-color:  var(--grey-dark-3);
    /*border-radius: 0.4vw;*/
}

.active {
    color: white;
    background-color: var(--accent-color-1-4)

}

.btnLeft {
    border-radius: 10px 0 0 10px;
}

.btnRight {
    border-radius: 0 10px 10px 0;
}