.profile{
    flex-shrink: 0;
    margin-right: 15px;
}
.active img{
    filter: invert(36%) sepia(96%) saturate(3010%) hue-rotate(212deg) brightness(104%) contrast(101%);
    -webkit-filter: invert(36%) sepia(96%) saturate(3010%) hue-rotate(212deg) brightness(104%) contrast(101%);
}