.header{
    height: 80px;
    display: flex;
}

.header a{
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.header a img{
    width: 20px;
    height: 20px;
}
.black{
    background-color: var(--header-dark);
}
.white{
    background-color: white;
}

