.search{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.search input{
    background: initial;
    min-width: 150px;
    width: Calc(100% - 30px);
    padding: 11px 11px 11px 36px;
    outline:none;
    border-radius: 10px;
}
.black input {
    border: 1px var(--grey-light-2) solid;
}
.black input::placeholder{
    color: var(--grey-light-3);
}
.white input {
    border: 1px var(--grey-dark-2) solid;
}
.white input::placeholder{
    color: var(--grey-dark-3);
}

.search img {
    margin-right: -30px;
    z-index: 1;
}