.wrapper{
    width: 100%;
}
.productsGallery {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    gap: 2vw 5vw;

}

.error > h2 {
    font-size: 2.2vw;
    margin: 3vw 0;
}

.error > h3 {
    font-size: 1.5vw;
    color: var(--grey-dark-3);
}