.breadCrumbs{
    display: block;
    padding: 2vw 0;
}
.breadCrumbs a{
    text-decoration: none;
    font-size: 1vw;
}
.breadCrumbs span{
    font-size: 1vw;
}
.normal, .normal a{
    color: var(--grey-dark-4);
}
.last a{
    color: black;
}
