.numbersBox {
    display: flex;
    justify-content: center;
}

.numbers, .btn {
    display: flex;
    justify-content: center;
    padding: 0.8vw 1vw;
    height: 1.1vw;
    font-size: 1vw;
}

.numbers {
    text-decoration: none;
    color: var(--grey-dark-3);
}

.numbers:hover,
.btn:hover {
    color: white;
    background-color:  var(--grey-dark-3);
    border-radius: 0.4vw;
}

.active {
    color: white;
    background-color: var(--accent-color-1-4)

}