.productPage{
    width: 100%;
}
.wrapper{
    display: flex;
    margin-bottom: 2vw;
}
.information{
    box-sizing: border-box;
    width: 30vw;
    position: sticky;
    top: 5vw;
    padding: 2vw;
    border: 1px solid var(--grey-dark-3);
    border-radius: 10px;
    height: min-content;
}